ion-avatar > img {
  border-radius: 50%;
  height: 8rem;
  width: 12rem;
}

.separator-line {
  border: 0;
  border-top: 1px solid #ccc; /* Atur warna dan gaya garis sesuai kebutuhan */
  margin: 10px 0; /* Atur jarak di atas dan di bawah garis pemisah */
}

.center-grid {
  display: grid;
  justify-content: center;
}

.edit-button {
  --background: black !important;

  --border-color: white;
  --box-shadow: 0 3px 6px 0 rgb(255, 255, 255, 255);
}
