@tailwind base;
@tailwind components;
@tailwind utilities;

ion-button {
  --color: white;
  --ion-color-base: transparent !important;
}

ion-icon {
  --ion-color-base: white;
}

.full-screen-modal {
  --width: 100vw;
  --height: 100vh;
  --max-width: 100vw;
  --max-height: 100vh;
}
