.roundedInput {
  --border-radius: 30px;
}

.authButton {
  --color: white;
  --background: #48494c;
}

/* Add this CSS to your stylesheet */
ion-content {
  --ion-background-color: white;
}

@media (prefers-color-scheme: dark) {
  ion-content {
    --ion-background-color: black;
  }
}
ion-avatar > img {
  border-radius: 50%;
  height: 8rem;
  width: 12rem;
}
